---
title: Rebels in Prison
tagline: Support for activists in prison in the UK
email: rebelsinprison@protonmail.com
description: Exists to support activists in prison in the UK. RIPS is an independent
  organisation set up by individuals from Extinction Rebellion, Burning Pink & other
  groups.
url: https://rebelsinprison.uk
logo: "/uploads/rips-rec.png"
logo_square: "/uploads/RIPS-square.png"
logo_light: "/uploads/rips-rec.png"
rebellion_theme:
  facebook: https://www.facebook.com/rebelsinprison/
  instagram: https://www.instagram.com/RebelsInPrison
  twitter: https://twitter.com/RebelsInPrison
copyright_notice: 'Assembled with love, by Websites for Dissent: https://joe.irving.me.uk'
donate: "/donate/"
join_us: "/join-us/"
brand_color: "#333"
accent_color: "#ff00c3"
invert_brand_text: true
invert_accent_text: true
baseurl: ''
permalink: "/:categories/:title/"
locale: en_GB
lang: en
defaults:
- scope:
    path: ''
  values:
    image: "/uploads/RIPS-square.jpeg"
theme: jekyll-rebellion
plugins:
- jekyll-feed
- jekyll-linkpreview
- jekyll-twitter-plugin
- jekyll-youtube
- jekyll-sitemap
- jekyll-liquify
- jekyll-leaflet
- jekyll-get-json
jekyll_get_json:
- data: insta
  json: https://profilepageimages.usecue.com/images/rebelsinprison/images.json
stripe: pk_live_51IpcKXHRCmrgd0xdhdk2I7Loilh7CHKvKTOYBGewkT1Bzifh0OpJObab1TvkSLRmLV780DP2Bb1poxLoPnuAbK7H0073MeQRpO

airtable:
  rebels:
    app: appD1nzvI2yLA0zM9
    table: tbltguBhsThr3jjj1
    view: viwewngaEo7ZLR7Yt
    fields:
      - title
      - Age
      - Bio link
      - Image
      - Sentences
      - Posts
      - email
      - Prisons
      - In Prison
      - Date
      - zip_code
    collection: true
  sentences:
    table: tblVox2dKp85p1aBH
    view: viwdVtFLTJdeUadFH
    collection:
      layout: none
    fields:
      - Counter
      - Title
      - Prison
      - Video
      - Start
      - End
      - Released
      - Archive
      - Image
      - Duration
      - Incomplete
      - Duration if complete
  prisons:
    table: tblR3Z88fV4tANKxD
    view: viwsgyyQj7Bj3oE8D
    collection: true
    fields:
      - Title
      - Address
      - formatted_address
      - osm_url
      - w3w
      - lat
      - lng
      - Sentences
      - Rebels inside
      - About
      - used
  posts:
    table: tbl108RmpoHAxzpv0
    collection: true
  resources:
    table: tblSNnu4zcDit91vJ



collections:
  rebels:
    output: true
  prisons:
    output: true
  posts:
    permalink: "/blog/:categories/:title/"
  templates:
    output: false
theme_tiny: "250"
theme_small: "425"
theme_medium: "570"
theme_large: "770"
exclude:
- ".sass-cache/"
- ".jekyll-cache/"
- gemfiles/
- Gemfile
- Gemfile.lock
- node_modules/
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/
