title: RiPS

tagline: Support for activists in prison in the UK
email: GoingOnRemand@protonmail.com
description: >-
  Exists to support activists in prison in the UK. RIPS is an
  independent organisation set up by individuals
  from Extinction Rebellion, Burning Pink & other independent groups.
url: ""
baseurl: ''

permalink: /:categories/:title/

# Build settings
theme: jekyll-rebellion
plugins:
  - jekyll-feed

# Rebellion Config
#logo: /assets/logo-black.svg
#logo_square: /assets/logo-square.svg
#logo_light: /assets/logo-white.svg
# facebook: \#
# twitter: \#
# instagram: \#
# copyright_notice: Add an additional copyright notice here.
# donate: /donate/
join_us: /join-us/
# $xr-green, $xr-yellow, $xr-light-blue, $xr-pink, $xr-purple, $xr-dark-blue $xr-light-blue, xr-light-green, $xr-pastel-yellow
brand_color: $xr-pink
accent_color: $xr-dark-blue
invert_brand_text: false
invert_accent_text: true
theme_tiny: 250
theme_small: 425
theme_medium: 570
theme_large: 770
#main_nav_exclude_layouts: # Array of layout names to exclude from the main nav.
#header_pages: Array of pages (filepaths) to include in header nav

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
