---
title: Rebels in Prison
tagline: Support for activists in prison in the UK
email: rebelsinprison@gmail.com
description: Exists to support activists in prison in the UK. RIPS is an independent
  organisation set up by individuals from Extinction Rebellion, Burning Pink & other
  groups.
url: https://rebelsinprison.uk
logo: "/uploads/rips-rec.png"
logo_square: "/uploads/RIPS-square.png"
logo_light: ''
rebellion_theme:
  facebook: 'https://www.facebook.com/Rebels-in-Prison-Support-105007688415583'
  instagram: 'https://www.instagram.com/RebelsInPrison'
  twitter: 'https://twitter.com/RebelsInPrison'
copyright_notice: 'Assembled with love, by Websites for Dissent: https://joe.irving.me.uk'
donate: "/donate/"
join_us: "/join-us/"
brand_color: "#000"
accent_color: "#ff00c3"
invert_brand_text: true
invert_accent_text: true
baseurl: ''
permalink: "/:categories/:title/"
locale: en_GB
lang: en
theme: jekyll-rebellion
plugins:
- jekyll-feed
- jekyll-linkpreview
- jekyll-twitter-plugin
- jekyll-youtube
- jekyll-sitemap
- jekyll-liquify
- jekyll-leaflet
stripe: pk_live_51IpcKXHRCmrgd0xdhdk2I7Loilh7CHKvKTOYBGewkT1Bzifh0OpJObab1TvkSLRmLV780DP2Bb1poxLoPnuAbK7H0073MeQRpO
csv:
  rebels:
    source: https://docs.google.com/spreadsheets/d/1oNfGY6SG0PyZeOg6HLQ18Ul0MYNAR4mdRCrYTKKKhUs/gviz/tq?tqx=out:csv&sheet=Website
  prisons:
    source: https://docs.google.com/spreadsheets/d/1oNfGY6SG0PyZeOg6HLQ18Ul0MYNAR4mdRCrYTKKKhUs/gviz/tq?tqx=out:csv&sheet=Prisons
collections:
  rebels:
    output: true
  prisons:
    output: true
  posts:
    permalink: "/blog/:categories/:title/"
  templates:
    output: false
theme_tiny: "250"
theme_small: "425"
theme_medium: "570"
theme_large: "770"
exclude:
- ".sass-cache/"
- ".jekyll-cache/"
- gemfiles/
- Gemfile
- Gemfile.lock
- node_modules/
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/
