{% if page.email and page.email !='' %}
{% assign email = page.email %}
{% elsif site.email and site.email != '' %}
{% assign email = site.email %}
{%endif %}
<p class="target" id="submit">
  Thank you for contacting
  {% if page.layout == 'rebels' %}
    {{ page.title }}
  {% else %}us{% endif %}.
</p>
<p>
  This form ends up in a Google spreadsheet. If you would prefer to
  contact {% if email == site.email %}us{%else%}them{%endif%} directly please email
  {{ email | replace: '@', '<span>&#64;</span>' }}.
</p>
<form
  method="POST"
  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSflyUPtSfD__rn5FHPK1FDYovXDy3P88eQ1YWPDVLgz2QKE4g/formResponse"
  class="Rebellion-Form">
  <input type="text" name="entry.2134210316"
  value="{{ site.url }}{{ page.url | relative_url }}"
  hidden>
  <input type="text" name="entry.351551069" value="{{ page.title }}" hidden>
  <input type="text" name="entry.94573540" value="{{ email }}" hidden>
  <label for="email-in">Email</label>
  <input type="email" id="email-in" name="entry.62973992" required>
  <label for="message">Message</label>
  <textarea
  {% if include.expand != false %}class="expand"{% endif %}
  type="text" id="message" name="entry.2098036641" required></textarea>
  <button class="Rebellion-Button" type="submit">Submit</button>
</form>
