<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<p class="target" id="success">Payment successful!</p>
<p class="target" id="cancelled">Payment cancelled.</p>
<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<div class="Rebellion-Flex-Line">
  {% for donation in site.data.donations %}
  <button
    id="{{donation.id}}"
    role="link"
    type="button"
    class="donate-button Rebellion-Button"
    onClick="checkout(this.id,'{{ donation.type }}')">
    {{ donation.name }}
  </button>
  {% endfor %}
</div>
<div id="error-message"></div>

<script>
// var stripe = Stripe({{ site.stripe }});
function checkout(id,type){
  var stripe = Stripe('{{ site.stripe }}');
  console.log(id)
  /*
   * When the customer clicks on the button, redirect
   * them to Checkout.
   */
  var url = window.location.protocol +"//"+ window.location.hostname + window.location.pathname
  stripe.redirectToCheckout({
    lineItems: [{price: id, quantity: 1}],
    mode: type,
    /*
     * Do not rely on the redirect to the successUrl for fulfilling
     * purchases, customers may not always reach the success_url after
     * a successful payment.
     * Instead use one of the strategies described in
     * https://stripe.com/docs/payments/checkout/fulfill-orders
     */

     successUrl: url + '#success',
     cancelUrl: url + '#cancelled'
  })
  .then(function (result) {
    if (result.error) {
      /*
       * If `redirectToCheckout` fails due to a browser or network
       * error, display the localized error message to your customer.
       */
      var displayError = document.getElementById('error-message');
      displayError.textContent = result.error.message;
    }
  });
}
</script>
