{% assign data = '' %}
{% assign posts = site.collections | where: "label", include.block.collection | first  %}
{% assign latest = posts.docs | last %}
{% capture text %}
  <div>
  {{ include.text | markdownify | liquify }}
  {% if include.block.collection == 'sentences' %}
    {% assign prison-data = latest.prison | first %}
    {% assign rebel = latest.title | first %}
    {% capture prison %}<a href="{{prison-data.url}}">{{prison-data.title | strip }}</a>{% endcapture %}
    <p>
      <a href="{{rebel.url}}">{{rebel.title}}</a>
      is the latest person to be sentenced{% if latest.start and latest.start != '' %}
        on {{latest.start | date: "%e %b %Y" }}{% endif %}{% if latest.end and latest.end!=''  %}
        {% if latest.start and latest.start != '' %}
        and is {% else %}. They are {% endif %}
        expected to be released on {{latest.end | date: "%e %b %Y" | strip }}
      {% endif %}.
      {% if latest.prison and latest.prison != '' %}
      They are being held at {{ prison }}.
      {% endif %}
    </p>
    {% if latest.excerpt and latest.excerpt!='' %}
      <p>{{latest.excerpt}}</p>
    {% endif %}
  {% endif %}
  </div>
{% endcapture %}
{% assign half_image=rebel.image %}

{% if latest %}
  {% include half-image-block.html half_image=half_image text=text block=include.block %}
{% endif %}
