<div class="Rebellion-Rebel-List Rebellion-Blog-List">
  {% for post in include.rebels %}
  {% if post.archive != true and post.archive != "TRUE" or page.archive_page  %}
  {% if post.title and post.title != '' %}
    {% assign prison = site.prisons | where: "title", post.prison | first %}
    <div class="Rebellion-Blog-Item" id="{{post.title | slugify }}">
        <div class="top">
          {% if post.sentence_start and post.sentence_start != '' %}
          <div class="date">
              <span class="day-number">{{ post.sentence_start | date: '%d' }}</span>
              <span class="month">{{ post.sentence_start | date: '%b' }}</span>
          </div>
          {% endif %}
          <div class="description">
              <h3><a href="{{post.url | relative_url}}">{{ post.title }}</a></h3>
              {% if post.date_released and post.date_released!='' and post.sentence_start and post.sentence_start != '' %}
              <time>
                {{ post.sentence_start | date: "%d %b %Y" }} to
                {{ post.date_released | date: "%d %b %Y"}}
              </time>
              {% if post.prison and post.prison != '' %}
              at
              {% endif %}{% endif %}
              {% if post.prison and post.prison != '' %}
              <em><a href="{{ prison.url }}">{{ prison.title }}</a></em>
              {% endif %}
          </div>
        </div>
        {% if post.image %}
        <a href="{{ post.url }}"><img src="{{ post.image }}" /></a>
        {% endif %}
    </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
