<section>
  {% if page.stream_link and page.stream_link !=''  %}
  <h2 id="{{ site.data.profile-template.video | slugify}}">{{ site.data.profile-template.video }}</h2>
  {% assign domain = page.stream_link | remove:'http://'| remove:'https://' | split:'/' | first %}
  {% if domain contains "youtu" %}{% youtube page.stream_link %}
  {% elsif domain == "twitter.com" %}{% twitter page.stream_link align=center %}
  {% elsif domain contains "facebook.com" %}
  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
  <div class="fb-video" data-href="{{page.stream_link}}"
    data-allowfullscreen="true" data-width="600px"></div>
  {% else %}
  <p><a href="{{ page.stream_link }}">Follow this link to watch!</a></p>
  {% endif %}{% endif %}
</section>
