.half-image-block{
  > .half,#full-prison-map, #prison-map{
    min-height: 80vh;
  }
  .half.image, #full-prison-map{
    background: $accent-color no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .half.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content{
      padding: $spacing-unit;
      max-width: $content-width-wide;
      margin: 0 auto;
    }
  }
  &:nth-of-type(even){
    flex-direction: row-reverse;
  }
  > * {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: $half-width * 2) {
  .half-image-block{
    display: flex;
    > .half, > #full-prison-map{
      width: 50%;
    }
  }
}
// div.Rebellion-Main:nth-child(2n of .half-image-block){
//   flex-direction: row-reverse;
// }
