#full-prison-map{
  flex-grow: 2;
  height: 100%;
  width: 100%;
}
.Rebellion-Map{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 0;
}
.map-block{
  height: 65vh;
  width: 100%;
}
.leaflet-map{
  z-index: 0;
}
