$rebel-listing-width: 250px;

.Rebellion-Rebel-List{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
  .Rebellion-Blog-Item{
    max-width: $rebel-listing-width;
    .background-image {
      height: $rebel-listing-width;
      width: 100%;
      max-width: $rebel-listing-width;
      background: white no-repeat center center;
      background-size: cover;
    }
  }
}
