---
new_page_extension: md
auto_deploy: false
admin_path: admin
webhook_url: 
sections:
- type: jekyll-posts
  label: Blog
  create: all
- type: jekyll-pages
  label: Pages
  create: all
- type: document
  path: index.md
  label: Home Page
- type: heading
  label: Templates
- type: document
  path: _data/profile-template.yml
  label: Profile Template
- type: document
  path: _templates/prison.md
  label: Prison template
- type: heading
  label: Data
- type: document
  path: _data/resources.yml
  label: Resources
- type: document
  path: _config.yml
  label: Site Configuration
- type: document
  path: _data/donations.yml
  label: Donations
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - JEKYLL_ENV=staging
  preview_output_directory: _site
  install_dependencies_command: bundle install --path vendor/bundle
  preview_docker_image: forestryio/ruby:2.6
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    -d _site
