---
layout: post
---
{% assign rebels = site.rebels | where: "archive", "FALSE" | where: "prison", page.title %}

{% capture prisoners-now %}
  <ul>
    {% for r in page.rebels_inside %}
      <li><a href="{{ r.url }}">{{ r.title }}</a></li>
    {% endfor %}
  </ul>

{% endcapture %}

{% capture w3w %}<a href="https://what3words.com/{{ page.w3w }}">///{{ page.w3w }}</a>{% endcapture %}

{% capture address %}
<address>
  {{ page.title }}<br>
  {{ page.address | replace: ",", "<br>" }}
</address>
{% endcapture %}
{% capture map %}
  {% leaflet_map {"zoom" : 13 } %}
  {% leaflet_marker { "latitude" : {{page.lat}},
                     "longitude" : {{ page.lng }},
                     "popupContent" : "{{ page.title }}"  } %}
  {% endleaflet_map %}
{% endcapture %}


{% assign t = site.templates | where: "title", "prison" | first %}

{{ t.content | markdownify | liquify }}
