---
layout: post
---
<!-- Summary -->
{% if page.excerpt and page.excerpt != '' %}
<p><em>{{ page.excerpt }}</em></p>
{% endif %}

<!-- Live Stream details -->
{% if page.stream_link and page.stream_link !=''  %}

<h2>Watch the video</h2>

{% assign domain = page.stream_link | remove:'http://'| remove:'https://' | split:'/' | first %}
{% if domain contains "youtu" %}{% youtube page.stream_link %}
{% elsif domain == "twitter.com" %}{% twitter page.stream_link align=center %}
{% elsif domain contains "facebook.com" %}
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<div class="fb-video" data-href="{{page.stream_link}}"
  data-allowfullscreen="true" data-width="600px"></div>
{% else %}
<p><a href="{{ page.stream_link }}">Follow this link to watch!</a></p>

{% endif %}{% endif %}

<!-- Sponsporship -->
<h2>Sponser them!</h2>

<p>
  To go through the prison system is a tough and sometimes taumatic
  experience. With your help, we can try our best to support {{ page.title }}
  them throught the process. See <a href="/about">our about page</a> for more
  info!
</p>
<p>
  If this is somthing you are prepared we ask that you donate £10. See more info
  on <a href="/donate">our donate page</a>.
</p>

<!-- Biography -->
{% if page.bio and page.bio != ''%}
<h2>About {{page.title}}</h2>
{{ page.bio | markdownify }}
{% endif %}
