---
layout: page
---

{% assign name = page.title %}
{% assign prison = site.prisons | where: "title", page.prison | first %}

{% capture nowunix %}{{ 'now' | date: "%s" }}{% endcapture %}
{% capture startunix %}{{ page.sentence_start | date: "%s" }}{% endcapture %}
{% capture days %}{{ nowunix | minus: startunix | divided_by: 86400}}{% endcapture %}

{% capture excerpt %}
  {% if page.excerpt and page.excerpt != '' %}
  <p><em>{{ page.excerpt }}</em></p>
  {% endif %}
{% endcapture %}

{% capture image %}
  {% if page.image and page.excerpt != '' %}
  <img src="{{ page.image }}" alt="Photo of {{ page.title }}">
  {% endif %}
{% endcapture %}

{% capture video %}
  {% if page.stream_link and page.stream_link != '' %}
  {% include stream_video.html %}
  {% endif %}
{% endcapture %}

{% capture donate-buttons %}
  {% include donation-buttons.html %}
{% endcapture %}

{% capture contact-form %}
  {% include contact-form.html %}
{% endcapture %}

{% capture bio %}
{% if page.bio and page.bio != ''%}
  {{ site.data.profile-template.bio  | markdownify | liquify   }}
  {{ page.bio | markdownify }}
{% endif %}
{% endcapture %}

<!-- Content -->
{{ site.data.profile-template.body | markdownify | liquify }}
