---
layout: page
---

{% assign name = page.title %}
{% assign prison-data = site.prisons | where: "title", page.prison | first %}
{% assign sentences = site.sentences | where: "title", page.title | sort: "start" %}
{% assign sentence_latest = sentences | first %}

{% capture nowunix %}{{ 'now' | date: "%s" }}{% endcapture %}
{% capture startunix %}{{ page.sentence_start | date: "%s" }}{% endcapture %}
{% capture days %}{{ nowunix | minus: startunix | divided_by: 86400}}{% endcapture %}

{% capture excerpt %}
  {% if page.excerpt and page.excerpt != '' %}
  <p><em>{{ page.excerpt }}</em></p>
  {% endif %}
{% endcapture %}

{% capture image %}
  {% if page.image and page.image != '' %}
  <img src="{{ page.image }}" alt="Photo of {{ page.title }}">
  {% endif %}
{% endcapture %}

{% capture video %}
  {% if sentence_latest.stream_link and sentence_latest.stream_link != '' %}
  {% include stream_video.html link=sentence_latest.stream_link %}
  {% endif %}
{% endcapture %}

{% capture donate-buttons %}
  {% include donation-buttons.html %}
{% endcapture %}

{% capture contact-form %}
  {% include contact-form.html expand=false %}
{% endcapture %}

{% capture bio %}
  {% if page.bio and page.bio != ''%}
    {{ site.data.profile-template.bio  | markdownify | liquify   }}
    {{ page.bio | markdownify | liquify }}
  {% endif %}
{% endcapture %}

{% capture donate %}
  {% if page.exclude_donations != "TRUE" and page.exclude_donations != true  %}
    {{ site.data.profile-template.donate  | markdownify | liquify   }}
  {% endif %}
{% endcapture %}

{% capture prison %}
  <a href="{{prison-data.url}}">{{prison-data.title}}</a>
{% endcapture %}

{% capture sentence_list %}
<h2>Stretches in prison</h2>
<ul>
  {% for sentence in sentences %}
    {% assign sentence_prison = site.prisons | where: "title", sentence.prison | first %}
    <li>
      From {{ sentence.start | date: "%d %b %Y" }} to {{ sentence.released | date: "%d %b %Y" }}
      at <a href="{{ sentence_prison.url }}">{{ sentence_prison.title }}</a>.
    </li>
  {% endfor %}
</ul>
{% endcapture %}

<!-- Content -->
{{ site.data.profile-template.body | markdownify | liquify }}
