---
layout: page
---

{% assign name = page.title %}
{% assign prison-data = site.prisons | where: "title", page.prison | first %}
{% assign sentences = site.sentences | where: "title", page.title | sort: "start" %}
{% assign sentence_latest = sentences | first %}

{% capture nowunix %}{{ 'now' | date: "%s" }}{% endcapture %}
{% capture startunix %}{{ page.sentence_start | date: "%s" }}{% endcapture %}
{% capture days %}{{ nowunix | minus: startunix | divided_by: 86400}}{% endcapture %}

{% capture excerpt %}
  {% if page.excerpt and page.excerpt != '' %}
  <p><em>{{ page.excerpt }}</em></p>
  {% endif %}
{% endcapture %}

{% capture image %}
  {% if page.image and page.image != '' %}
  <img src="{{ page.image }}" alt="Photo of {{ page.title }}">
  {% endif %}
{% endcapture %}

{% capture video %}
  {% if sentence_latest.video and sentence_latest.video != '' %}
  {% include stream_video.html link=sentence_latest.video %}
  {% endif %}
{% endcapture %}

{% capture donate-buttons %}
  {% include donation-buttons.html %}
{% endcapture %}

{% capture contact-form-old %}
  {% include contact-form.html expand=false %}
{% endcapture %}

{% capture contact-form %}
    <link href='https://actionnetwork.org/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v4/letter/write-to-prisoners?format=js&source=widget' await></script><div id='can-letter-area-write-to-prisoners' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
    <script type="text/javascript">
      var zipCodeField = null
      var waitFormLoad = setInterval(function() {
        if (zipCodeField == null){
          var zipCodeField = document.getElementById('form-zip_code');
          if (zipCodeField == null) return;
        }
        if (zipCodeField.value == "{{ page.zip_code }}") return;
        zipCodeField.value = "{{ page.zip_code }}";
        // clearInterval(waitFormLoad);
      }, 500)
    </script>
    <style media="screen">
      #can_embed_form > #can_embed_form_inner > #new_delivery ,
      #can_embed_form > #can_embed_form_inner  .international_link-wrap
      {
        display: none;
      }
    </style>
{% endcapture %}


{% capture bio %}
  {% if page.bio %}
    {{ page.bio | liquify | markdownify }}
  {% elsif page.bio_link %}
    {{ page.bio_link | parse_gdoc }}
  {% endif %}
{% endcapture %}

{% capture donate %}
  {% if page.exclude_donations != "TRUE" and page.exclude_donations != true  %}
    {{ site.data.profile-template.donate  | markdownify | liquify   }}
  {% endif %}
{% endcapture %}

{% capture prison %}
  <a href="{{prison-data.url}}">{{prison-data.title}}</a>
{% endcapture %}

{% capture sentence_list %}
<h2>Stretches in prison</h2>
<ul>
  {% for sentence in page.sentences %}
    {% assign prison = sentence.prison | first %}
    <li>
      From {{ sentence.start | date: "%d %b %Y" }} to {{ sentence.released | date: "%d %b %Y" }}
      at <a href="{{ prison.url }}">{{ prison.title }}</a>.
    </li>
  {% endfor %}
</ul>
{% endcapture %}

<!-- Content -->
{{ site.data.profile-template.body | markdownify | liquify }}
